$bgColor: #EBF0FA;
$btnBgColor: #244C98;
$inputBgColor: #D7E2F6;
$mainTextColor: #1F4284;
$textColor: #323232;
$textColor2: #727272;
$whiteColor: #FFFFFF;

@mixin font{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
  @include font;
  position: relative;
  padding: 36px 40px;
  min-height: 100vh;
}

*{
  padding: 0;
  outline: none;
  border: none;
  margin: 0;
  box-sizing: border-box;
  background: none;
}

main{
  display: flex;
  justify-content: center;
  height: 455px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: $bgColor;
  overflow: hidden;

  .description{
    box-sizing: initial;
    padding: 102px 320px 102px 72px;

    .description__block{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      max-width: 538px;
      gap: 18px;

      h1{
        color: $mainTextColor;
        font-size: 30px;
        font-weight: 500;
      }
      
      p{
        color: $textColor2;
        font-size: 17px;
        line-height: 27.2px;
        font-weight: 400;
      }

      .try-btn{
        display: flex;
        align-items: center;
        max-width: 341px;
        width: 100%;
        margin-top: 18px;
        padding: 19.5px 12px 19.5px 24px;
        border-radius: 60px;
        color: $whiteColor;
        background: $btnBgColor;
        font-size: 18px;
        font-weight: 500;

        .icon-frame{
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 36px;
          height: 36px;
          margin-left: auto;
          border-radius: 100%;
          background-color: $whiteColor;
        }
      }
    
    }
  }

  .img-frame{
    max-width: 910px;
    width: 100%;
    background: url("./../assets/img.png") center;
    background-size: cover;
  }
}

//Components
.modal{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  padding: 24px;
  background-color: $bgColor;

  .modal__options{
    text-align: right;

    .modal__options__close-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      margin-left: auto;
      border-radius: 10px;
      background: $whiteColor;
      cursor: pointer;
    }
  }
}

//Signin Form
.signIn-form{
  display: flex;
  flex-direction: column;

  h2{
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 500;
    color: $textColor;
  }

  #email{
    margin-bottom: 4px;
  }

  input{
    padding: 24px;
    font-size: 18px;
    font-weight: 500;
    color: $mainTextColor;
    border-radius: 10px;
    background-color: $inputBgColor;

    &::placeholder{
      color: $mainTextColor ;
    }
  }

  .signIn-form__remember-field{
    display: flex;
    align-items: center;
    margin: 24px 0;

    #pass-remember{
      width: 24px;
      height: 24px;
    }

    label{
      margin-left: 14px;
      font-size: 18px;
    }
  }

  .signIn-form__restore-btn{
    align-self: baseline;
    margin-bottom: 36px;
    font-size: 20px;
    color: $mainTextColor;
    cursor: pointer;
  }

  .signIn-form__signIn-btn,
  .signIn-form__signUp-btn{
    width: 100%;
    padding: 18px 0;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }

  .signIn-form__signIn-btn{
    margin-bottom: 4px;
    color: $whiteColor;
    background-color: $btnBgColor;
  }
  
  .signIn-form__signUp-btn{
    border: solid $btnBgColor 1px;
    color: $btnBgColor;
  }
}

//Adaptive

@media (max-width: 1919px){
  main{
    gap: 24px;

    .description{
      padding: 105px 70px 105px 72px;
    }
  }
}

@media (max-width: 1439px){
  body{
    padding: 24px;
  }

  main{
    flex-direction: column;
    align-items: center;
    width: unset;
    height: unset;

    .description{
      height: 202px;
      padding: 24px 24px 0 24px;

      .description__block{
        width: 100%;

        h1{
          font-size: 20px;
        }

        p{
          font-size: 15px;
          line-height: 24px;

          br{
            display: none;
          }
        }

        .try-btn{
          width: 261px;
          height: 56px;
          margin-top: 6px;
          padding: 16px 10px 16px 18px;
          font-size: 15px;
          text-wrap: nowrap;
        }
      }
    }

    .img-frame{
      max-width: 720px;
      width: 100%;
      height: 360px;
    }
  }
}

@media (max-width: 767px){
  body{
    padding: 14px 24px;
  }

  main{
    .description{
      height: 244px;

      .description__block{
        gap: 14px;

        h1{
          margin-top: 4px;
        }

        p{
          font-size: 13px;
        }

        .try-btn{
          width: 279px;
        }
      }
    }

    .img-frame{
      max-width: 329px;
      width: 100%;
      height: 220px;
    }
  }
}