body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: relative;
  margin: 36px 40px;
  min-height: 100vh;
}

* {
  padding: 0;
  outline: none;
  border: none;
  margin: 0;
  box-sizing: border-box;
  background: none;
}

main {
  display: flex;
  justify-content: center;
  height: 455px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #EBF0FA;
  overflow: hidden;
}
main .description {
  box-sizing: initial;
  padding: 102px 320px 102px 72px;
}
main .description .description__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 538px;
  gap: 18px;
}
main .description .description__block h1 {
  color: #1F4284;
  font-size: 30px;
  font-weight: 500;
}
main .description .description__block p {
  color: #727272;
  font-size: 17px;
  line-height: 27.2px;
  font-weight: 400;
}
main .description .description__block .try-btn {
  display: flex;
  max-width: 341px;
  width: 100%;
  margin-top: 18px;
  padding: 19.5px 12px 19.5px 24px;
  border-radius: 60px;
  color: #FFFFFF;
  background: #244C98;
  font-size: 18px;
  font-weight: 500;
}
main .description .description__block .try-btn .icon-frame {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-left: auto;
  border-radius: 100%;
  background-color: #FFFFFF;
}
main .img-frame {
  max-width: 910px;
  width: 100%;
  background: url("./../assets/img.png") center;
  background-size: cover;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  padding: 24px;
  background-color: #EBF0FA;
}
.modal .modal__options {
  text-align: right;
}
.modal .modal__options .modal__options__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  margin-left: auto;
  border-radius: 10px;
  background: #FFFFFF;
  cursor: pointer;
}

.signIn-form {
  display: flex;
  flex-direction: column;
}
.signIn-form h2 {
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 500;
  color: #323232;
}
.signIn-form #email {
  margin-bottom: 4px;
}
.signIn-form input {
  padding: 24px;
  font-size: 18px;
  font-weight: 500;
  color: #1F4284;
  border-radius: 10px;
  background-color: #D7E2F6;
}
.signIn-form input::-moz-placeholder {
  color: #1F4284;
}
.signIn-form input::placeholder {
  color: #1F4284;
}
.signIn-form .signIn-form__remember-field {
  display: flex;
  align-items: center;
  margin: 24px 0;
}
.signIn-form .signIn-form__remember-field #pass-remember {
  width: 24px;
  height: 24px;
}
.signIn-form .signIn-form__remember-field label {
  margin-left: 14px;
  font-size: 18px;
}
.signIn-form .signIn-form__restore-btn {
  align-self: baseline;
  margin-bottom: 36px;
  font-size: 20px;
  color: #1F4284;
  cursor: pointer;
}
.signIn-form .signIn-form__signIn-btn,
.signIn-form .signIn-form__signUp-btn {
  width: 100%;
  padding: 18px 0;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.signIn-form .signIn-form__signIn-btn {
  margin-bottom: 4px;
  color: #FFFFFF;
  background-color: #244C98;
}
.signIn-form .signIn-form__signUp-btn {
  border: solid #244C98 1px;
  color: #244C98;
}

@media (max-width: 1919px) {
  main {
    gap: 24px;
  }
  main .description {
    padding: 105px 70px 105px 72px;
  }
}
@media (max-width: 1439px) {
  body {
    margin: 24px;
  }
  main {
    flex-direction: column;
    align-items: center;
    width: unset;
    height: unset;
  }
  main .description {
    height: 202px;
    padding: 24px 24px 0 24px;
  }
  main .description .description__block {
    width: 100%;
  }
  main .description .description__block h1 {
    font-size: 20px;
  }
  main .description .description__block p {
    font-size: 15px;
    line-height: 24px;
  }
  main .description .description__block p br {
    display: none;
  }
  main .description .description__block .try-btn {
    width: 261px;
    height: 56px;
    margin-top: 6px;
    padding: 16px 10px 16px 18px;
    font-size: 15px;
    text-wrap: nowrap;
  }
  main .img-frame {
    max-width: 720px;
    width: 100%;
    height: 360px;
  }
}
@media (max-width: 767px) {
  body {
    margin: 14px 24px;
  }
  main .description {
    height: 244px;
  }
  main .description .description__block {
    gap: 14px;
  }
  main .description .description__block h1 {
    margin-top: 4px;
  }
  main .description .description__block p {
    font-size: 13px;
  }
  main .description .description__block .try-btn {
    width: 279px;
  }
  main .img-frame {
    max-width: 329px;
    width: 100%;
    height: 220px;
  }
}/*# sourceMappingURL=style.css.map */